*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  position: relative;
}

#container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

#projects-list {
  list-style-type: none;
}

#projects-list .projects-list-item a {
  display: flex;
}

#projects-list .projects-list-item .projects-list-item-title {
  flex-grow: 8;
}

#projects-list .projects-list-item .projects-list-item-time {
  flex-grow: 4;
  text-align: right;
}

@media (max-width: 576px) {
  #projects-list .projects-list-item a {
    flex-direction: column;
  }

  #projects-list .projects-list-item .projects-list-item-time {
    text-align: left;
  }
}
