*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  color: #515053;
  background-color: #faf9f8;
}

img {
  max-width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #0074d9;
  color: #00B4D8;
  color: #373530;
  border-bottom: 1px solid #DFDFDE;
}

a:hover {
  border-bottom: 1px solid #515053;
}

h2, h3, h4, h5, h6 {
  color: #18997d;
  color: #139487;
}

#container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

#projects-list {
  list-style-type: none;
}

#projects-list .projects-list-item a {
  display: flex;
}

#projects-list .projects-list-item .projects-list-item-title {
  flex-grow: 8;
}

#projects-list .projects-list-item .projects-list-item-time {
  flex-grow: 4;
  text-align: right;
}

@media (max-width: 576px) {
  #projects-list .projects-list-item a {
    flex-direction: column;
  }

  #projects-list .projects-list-item .projects-list-item-time {
    text-align: left;
  }
}

.subtitle {
  line-height: 1.3;
  margin-top: 64px;
  margin-bottom: 32px;
  text-align: justify;
  color: #515053;
}
